form input::placeholder{
    color: rgba(255, 255, 255,0.5);
}
form{
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 45px;
    
    
}

form input{
    width: 300px;  
    background-color:#091f43;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 30px;
    font-size: 20px;
    padding: 8px;
    
}
form button{
    background-color: rgb(255,30,66);
    color: white;
    width: 100px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 15px;
    transition: 200ms ease-in-out;
}
form button:hover{
    background-color: rgb(157, 13, 37);
}

@media (max-width:600px) {
    h1.heading{
        padding: 16px 0;
    }
    form{
        flex-direction: column;
    }
    form button,form input{
        width: 100%;
        margin: 6px;
    }
    form button{
        padding: 10px;
    }
    
}